body {
	margin: 0px;
}
.container {
	width: 100%;
	height: 100%;
	position: relative;
	perspective: 1000px;
	transform: translateZ(-300px);
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
	background-color: #dadada;
	-ms-transform-origin: 50% 50%; /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;
}

.content {
	font-size: 12px;
	color: #000000;
	cursor: default;
	-webkit-font-smoothing:antialiased;
}

.contentContainer {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fff;
}

.face {	
	text-align: center;
	margin: 12px;
	height: calc(100% - 24px);
}

.num {
	font-size: 42px;
	color: #25a0da;
	cursor: pointer;
}

#cube {
	position: absolute;
	top: calc(50vh - 300px);
	left: calc(50vw - 300px);
	width: 600px;
	height: 600px;
	transform-style: preserve-3d;
    -ms-transform-origin: 50% 50%; /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;
	transition: 0.3s;
}

#cube figure {
	width: 596px;
	height: 596px;
	display: block;
	position: absolute;
	border: 2px solid black;
	color: #fff;
	background-color: rgba(37, 160, 218, 1);
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
   	backface-visibility: hidden;
}

#cube .front { 
	transform: rotateY(0deg) translateZ(300px);
}
#cube .back { 
	transform: rotateX(180deg) translateZ(300px);
}
#cube .right { 
	transform: rotateY(90deg) translateZ(300px);
}
#cube .left { 
	transform: rotateY(-90deg) translateZ(300px);
}
#cube .top { 
	transform: rotateX(90deg) translateZ(300px); 
}
#cube .bottom { 
	transform: rotateX(-90deg) translateZ(300px);
}

.show-1 {
	transform: translateZ(-100px) rotateY(0deg);
}

.show-2 {
	transform: translateZ(-100px) rotateX(-180deg);
}

.show-3 {
	transform: translateZ(-100px) rotateY(-90deg);
}

.show-4 {
	transform: translateZ(-100px) rotateY(90deg);
}

.show-5 {
	transform: translateZ(-100px) rotateX(-90deg);
}

.show-6 {
	transform: translateZ(-100px) rotateX(90deg);
}
.rot {
	z-index: 50;
	cursor: pointer;
}
.downContainer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 20px;
}

.turnDown {
	position: absolute;
	bottom: 0px;
	left: calc(50% - 20px);
	width: 40px;
	height: 20px;
	border-radius: 40px 40px 0px 0px;
	background-color: #cecece;
	background-image: url('../imgs/down.png');
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
	display: none;
}

.leftContainer {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 20px;
}

.turnLeft {
	position: absolute;
	left: 0px;
	top: calc(50% - 20px);
	float: left;
	height: 40px;
	width: 20px;
	border-radius: 0px 40px 40px 0px;
	background-color: #cecece;
	background-image: url('../imgs/left.png');
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
	display: none;
}

.rightContainer {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	width: 20px;
}

.turnRight {
	position: absolute;
	right: 0px;
	top: calc(50% - 20px);
	float: right;
	height: 40px;
	width: 20px;
	border-radius: 40px 0px 0px 40px;
	background-color: #cecece;
	background-image: url('../imgs/right.png');
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
	display: none;
}

.upContainer {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 20px;
}

.turnUp {
	position: absolute;
	left: calc(50% - 20px);
	top: 0px;
	width: 40px;
	height: 20px;
	border-radius: 0px 0px 40px 40px;
	background-color: #cecece;
	background-image: url('../imgs/up.png');
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.3s;
	display: none;
}

#outside {	
	width: 100vw;
	height: 100vh;
	/*margin-top: calc(50vh - 100px);
	margin-left: calc(50vw - 100px);*/
}